<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.revature.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.revature.servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInfo</display-name>
    <servlet-name>UpdateInfo</servlet-name>
    <servlet-class>com.revature.servlets.UpdateInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInfo</servlet-name>
    <url-pattern>/UpdateInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyPendingRequests</display-name>
    <servlet-name>MyPendingRequests</servlet-name>
    <servlet-class>com.revature.servlets.MyPendingRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPendingRequests</servlet-name>
    <url-pattern>/MyPendingRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyResolvedRequests</display-name>
    <servlet-name>MyResolvedRequests</servlet-name>
    <servlet-class>com.revature.servlets.MyResolvedRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyResolvedRequests</servlet-name>
    <url-pattern>/MyResolvedRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyProfile</display-name>
    <servlet-name>MyProfile</servlet-name>
    <servlet-class>com.revature.servlets.MyProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyProfile</servlet-name>
    <url-pattern>/MyProfile</url-pattern>
  </servlet-mapping>
</web-app>