body {
    background-color: black;
    color: white;
}

#block {
    display: inline-block;
    text-align: left;
}

#choice {
    margin: auto;
    text-align: center;
    background-color: gray !important;
    width: 20em;
    height: 100%;
    float: left;
}

#choice button {
    width: 17em;
    border: 3px;
    margin: 7px;
}

#selection {
    width: 100%;
    text-align: left;
}

table {
	border: 5px solid;
    border-color: green;
    background-color: white !important;
    color: black !important;
    text-align: center;
}
th, td {
	padding: 5px;
	border: 2px solid;
	border-color: black;
	border-collapse: collapse;
}
tr:hover {background-color: red;}

#description
{
    height: 100px;
    width: 300px;
    vertical-align: top;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }