body {
    background-color: black;
    color: white;
}

#block {
    display: inline-block;
    text-align: left;
}

#choice {
    margin: auto;
    text-align: center;
}

#selection {
    text-align: left;
}

#description
{
    height: 100px;
    width: 300px;
    vertical-align: top;
}